.container {
  font-weight: 700;
  text-align: center;
}

.container input {
  width: 80%;
  margin: auto;
}

.add-team {
  width: 70%;
  margin-left: 15%;
}

.team-list {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  font-weight: 700;
}

.generate-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.matches {
  width: 80%;
  margin: auto;
  text-align: center;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: teal;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 5px;
}

.matches > p {
  margin: 0;
  padding: 10px;
  color: white;
}
